{% extends 'gtpxz/base.html' %}

{% block content %}


			<div id="content_showcase_case">

                                <div id="col_left">
                                    <h2>Blog</h2>

					<div id="blog_comment">
						<img src="/static/gtpxz/images/portfolio/case/image2.jpg" alt="image1" style="width: 100%;" />
						<div class="col_date">
						    <div class="person"><img class="person" src="/static/gtpxz/images/template/icons/icon_person.png" alt="date" />Michael</div>
						    <div class="cat"><img class="cat" src="/static/gtpxz/images/template/icons/icon_cat.png" alt="date" />Graphics</div>
						    <div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
						    <div class="comment"><img class="comment" src="/static/gtpxz/images/template/icons/icon_comment.png" alt="date" /><a href="#">13</a></div>
						</div>
					</div>

					<h5>Standard Post With Still Looking For Him</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan urna. Sed et augue tortor.
					Mauris vitae. Vivamus sed nibh enim. Duis a justo viverra arcu adipiscing cursus a ac urna.</p>

					<p>Ut ut dui nisi. Phasellus ac risus et tellus molestie mollis vel id nunc. Fusce leo est, venenatis eget tincidunt vel,
					fringilla vel urna. Donec porta massa et dui mollis feugiat. Sed ut urna et nibh consequat viverra nec sit amet elit.
					Nulla eu odio at augue condimentum dignissim. Vestibulum nec lobortis diam. Sed tincidunt feugiat porta.
					Vivamus sed nibh enim. Duis a justo viverra arcu adipiscing cursus a ac urna. Duis hendrerit augue quis enim
					sollicitudin eu viverra nulla rhoncus. Curabitur vel nibh ipsum. Nulla facilisi. Fusce ac purus lectus, et tempus lectus. Suspendisse arcu metus, mollis id luctus ac, cursus ut magna. Duis porta nunc vitae quam sagittis auctor.
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum fermentum
					velit nec ante posuere facilisis. Fusce ligula mauris, elementum et volutpat ac, eleifend non elit. Ut imperdiet cursus lorem a fermentum.</p>

					<hr class="spacer margin" />

					<h2><span class="orange">3</span> Comments</h2>

					<div class="new_comment">
						<div class="new_comment_image"><img src="/static/gtpxz/images/avatar/big/avatar1.jpg" alt="avatar" /></div>
						<div class="new_comment_description">
							<span class="name">Brandon</span> 4 days ago - <a href="#">Reply</a>
							<p>Ut ut dui nisi. Phasellus ac risus et tellus molestie mollis vel id nunc. Fusce leo est, venenatis eget tincidunt vel, fringilla vel urna. Donec porta massa et dui mollis feugiat</p>
						</div>
						<div class="clear"></div>
					</div>

					<div class="new_comment tabbed">
						<div class="new_comment_image"><img src="/static/gtpxz/images/avatar/big/avatar2.jpg" alt="avatar" /></div>
						<div class="new_comment_description">
							<p>Image Post Format Still Looking For Him
							Etiam tempor lorem sit amet odio luctus in tempor dui placerat.
							Suspendisse in sapien sem, dictum volutpat odio.</p>
							<p><span class="bold">August 22, 2012 By Peter</span></p>
						</div>
						<div class="clear"></div>
					</div>

					<div class="new_comment">
						<div class="new_comment_image"><img src="/static/gtpxz/images/avatar/big/avatar1.jpg" alt="avatar" /></div>
						<div class="new_comment_description">
							<span class="name">Brandon</span> 4 days ago - <a href="#">Reply</a>
							<p>Ut ut dui nisi. Phasellus ac risus et tellus molestie mollis vel id nunc. Fusce leo est, venenatis eget tincidunt vel, fringilla vel urna. Donec porta massa et dui mollis feugiat</p>
						</div>
						<div class="clear"></div>
					</div>

					<hr class="spacer margin" />

					<h2>Post comment</h2>
					<form method="post" action="#" />
						<table class="comment">
							<tr class="heading">
								<td class="col1">Name</td>
								<td>Email</td>
							</tr>
							<tr>
								<td class="col1"><input type="text" name="name" class="field" /></td>
								<td><input type="text" name="email" class="field" /></td>
							</tr>
							<tr class="heading top">
								<td colspan="2">Message</td>
							</tr>
							<tr>
								<td colspan="2"><textarea cols="5" rows="5" class="field"></textarea></td>
							</tr>
							<tr>
								<td colspan="2" class="submit"><input type="submit" value="Submit comment" class="submit" /></td>
							</tr>
						</table>
					</form>

                                </div>

                                <div id="col_right" >

                                     <h2>Featured blog</h2>

                                    <div id="featured_blog">
                                        <div class="element">
                                                <img src="/static/gtpxz/images/portfolio/thumbs/image17.jpg" alt="image 6" />
                                                <h2>Standard Post With Still Looking For Him</h2>
                                                <p>uis hendrerit augue quis enim sollicitudin</p>
                                                <p class="readmore"><a href="#">Read more</a></p>
                                        </div>
                                    </div>

				    <hr class="spacer" />

                                    <h2>Recent posts</h2>
                                    <ul class="recent_posts">
					<li><p>Image Post Format Still Looking<br /> For Him</p></li>
					<li><p>video Post Format I dont know<br /> what to put here</p></li>
					<li class="last"><p>The probability of meeting <br />someone that you realy like</p></li>
				    </ul>

					<hr class="spacer" />

					<h2>New comments</h2>

					<div class="new_comment">
						<div class="new_comment_image"><img src="/static/gtpxz/images/avatar/big/avatar1.jpg" alt="avatar" /></div>
						<div class="new_comment_description">
							<span class="name">Brandon</span>
							<br />4 days ago
							<p>Ut ut dui nisi. Phasellu</p>
						</div>
						<div class="clear"></div>
					</div>

					<div class="new_comment">
						<div class="new_comment_image"><img src="/static/gtpxz/images/avatar/big/avatar2.jpg" alt="avatar" /></div>
						<div class="new_comment_description">
							<span class="name">Brandon</span>
							<br />4 days ago
							<p>Ut ut dui nisi. Phasellu</p>
						</div>
						<div class="clear"></div>
					</div>

					<div class="new_comment">
						<div class="new_comment_image"><img src="/static/gtpxz/images/avatar/big/avatar1.jpg" alt="avatar" /></div>
						<div class="new_comment_description">
							<span class="name">Brandon</span>
							<br />4 days ago
							<p>Ut ut dui nisi. Phasellu</p>
						</div>
						<div class="clear"></div>
					</div>

					<hr class="spacer" />

                                    <h2>Recent work</h2>

                                    <div id="recent_work">
                                        <div class="element">
                                                <img src="/static/gtpxz/images/portfolio/thumbs/image3.jpg" alt="image 6" />
                                                <h2>Legend of Zelda</h2>
                                                <p>Logos, Illustration</p>
                                        </div>
                                    </div>

                                    <hr class="spacer" />

                                    <h2>Video widget</h2>
                                    <iframe src="http://player.vimeo.com/video/42966264?title=0&amp;byline=0&amp;portrait=0&amp;color=fcc7c7" width="220" height="132" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>


                                </div>

                                <div class="clear"></div>

                        </div>




    {% load static %}
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.isotope.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.portfolio.js' %}"></script>

{% endblock %}