{% extends 'gtpxz/base.html' %}


{% block content %}

			<div id="options">
				<ul class="sort">
					<li>Sort by item:</li>
				</ul>
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
					<li class="item"><a href="#" data-option-value="*" class="selected">All</a></li>
					<li class="item"><a href="#" data-option-value=".web">Web</a></li>
					<li class="item"><a href="#" data-option-value=".design">Design</a></li>
					<li class="item"><a href="#" data-option-value=".video">Video</a></li>
				</ul>
			</div>

			<div id="content_showcase">

				<h2>Showcase</h2>

				<div id="portfolio" class="clearfix">

					<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image1.jpg" alt="image 1" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image2.jpg" alt="image 2" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element design">
						<img src="/static/gtpxz/images/portfolio/thumbs/image3.jpg" alt="image 3" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element video">
						<img src="/static/gtpxz/images/portfolio/thumbs/image4.jpg" alt="image 4" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element design">
						<img src="/static/gtpxz/images/portfolio/thumbs/image5.jpg" alt="image 5" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element video">
						<img src="/static/gtpxz/images/portfolio/thumbs/image6.jpg" alt="image 6" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>						<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image7.jpg" alt="image 2" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element design">
						<img src="/static/gtpxz/images/portfolio/thumbs/image8.jpg" alt="image 3" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element video">
						<img src="/static/gtpxz/images/portfolio/thumbs/image9.jpg" alt="image 4" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element design">
						<img src="/static/gtpxz/images/portfolio/thumbs/image10.jpg" alt="image 5" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element design">
						<img src="/static/gtpxz/images/portfolio/thumbs/image11.jpg" alt="image 5" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element video">
						<img src="/static/gtpxz/images/portfolio/thumbs/image12.jpg" alt="image 6" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image13.jpg" alt="image 1" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image14.jpg" alt="image 1" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>

					</div>
					<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image15.jpg" alt="image 1" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>

					<div class="element web">
						<img src="/static/gtpxz/images/portfolio/thumbs/image16.jpg" alt="image 1" />
						<h2><a href="showcase_case.html">On wheels</a></h2>
						<p>Logos, Illustration</p>
						<div class="item_overlay">
							<div class="buttons"><a href="showcase_case.html"><img class="zoom" src="/static/gtpxz/images/template/icons/icon_zoom.png" alt="vergroten" /></a></div>
						</div>
					</div>
					</div>

				</div>

    {% load static %}
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.isotope.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.portfolio.js' %}"></script>

{% endblock %}