<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
	<title>Titel</title>

	<meta charset="utf-8" name="ACG音乐" content="ACG音乐" />

	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'gtpxz/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gtpxz/css/index.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'gtpxz/css/colorbox.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gtpxz/css/anythingslider.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gtpxz/css/stylesheet.css' %}" />







<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

	
	<div id="wrapper">
		
		<div id="top">
			
			<div id="loga"><a href="#" style="text-decoration:none"><h1>音乐♂二刺螈</h1></a></div>

			<div id="menu">
				<ul>
					<li><a href="index.html" class="active">首页</a></li>
					<li><a href="blog.html">blog</a></li>
					<li><a href="others.html">others</a></li>
					<li><a href="contact.html">contact</a></li>

					<li><a href="#" class="a globalLoginBtn">登录</a></li>


				</ul>				
			</div>

		</div>

		<div id="container">
			
			<div id="header">
				<div id="inner_header">
					<h1>Hello, we make awesome things</h1>
				</div>
				<div id="socialmedia">
					<ul>
						<li class="twitter">
							<a class="twitter" href="#"><img class="twitter" src="/static/gtpxz/images/template/icons/icon_twitter_black.png" alt="twitter" /></a>
						</li>
						<li class="facebook">
							<a class="facebook" href="#"><img class="twitter" src="/static/gtpxz/images/template/icons/icon_facebook_black.png" alt="facebook" /></a>
						</li>
						<li class="googleplus">
							<a class="googleplus" href="#"><img class="twitter" src="/static/gtpxz/images/template/icons/icon_googleplus_black.png" alt="googleplus" /></a>
						</li>						
					</ul>	
				</div>				
			</div>

			<div id="homepage">
				<div class="element_big_thumb">
					<a class="colorbox" href="/static/gtpxz/images/homepage/image2.jpg" title="On the Ohoopee as an adult"><img src="/static/gtpxz/images/homepage/image2.jpg" alt="image 1" /></a>
					<div class="item_overlay">		
						<div class="buttons"><img class="plus" src="/static/gtpxz/images/template/icons/icon_plus.png" alt="vergroten" /><a href="showcase_case.html"><img class="link" src="/static/gtpxz/images/template/icons/icon_link.png" alt="link" /></a></div>
					</div>						
				</div>
				<div class="element_thumb">
					<a class="colorbox" href="/static/gtpxz/images/homepage/6b13328abbbe329bd92c179006a27568.jpg" title="On the Ohoopee as an adult"><img src="/static/gtpxz/images/homepage/image1.jpg" alt="image 1" /></a>
					<div class="item_overlay">		
						<div class="buttons"><img class="plus" src="/static/gtpxz/images/template/icons/icon_plus.png" alt="vergroten" /><a href="showcase_case.html"><img class="link" src="/static/gtpxz/images/template/icons/icon_link.png" alt="link" /></a></div>
					</div>						
				</div>
				<div class="element_thumb">
					<a class="colorbox" href="/static/gtpxz/images/homepage/575201202448772.jpg" title="On the Ohoopee as an adult"><img src="/static/gtpxz/images/homepage/image3.jpg" alt="image 1" /></a>
					<div class="item_overlay">		
						<div class="buttons"><img class="plus" src="/static/gtpxz/images/template/icons/icon_plus.png" alt="vergroten" /><a href="showcase_case.html"><img class="link" src="/static/gtpxz/images/template/icons/icon_link.png" alt="link" /></a></div>
					</div>						
				</div>				
			</div>
			
			<div id="content">
				<div id="information">
					<h2>Hi there, we are a awesome <span class="orange">creative</span> agency from holland and<br />we are specialized in <span class="orange">illustration</span> work and some other things</h2>
				</div>
				
				<hr class="spacer" />
				
				<h2>From the blog</h2>
				
								<div id="blog">
					
					<ul id="slider">
						
						<li>
					
							<div class="col">
								<div class="col_image"><a href="blog_comment.html"><img src="/static/gtpxz/images/blog/image1.jpg" alt="image1" /></a></div>
								<div class="col_description">
									<h3>Image Post Format Still<br />Looking For Him</h3>
									<p>Lorem ipsum dolor sit amet, consectetur.</p>
									
								</div>
								<div class="col_date">
										<div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
										<div class="readmore"><a href="blog_comment.html">Read more</a></div>
								</div>
							</div>
							
							<div class="col even">
								<div class="col_image"><a href="blog_comment.html"><img src="/static/gtpxz/images/blog/image2.jpg" alt="image1" /></a></div>
								<div class="col_description">
									<h3>The probability of meeting someone</h3>
									<p>Lorem ipsum dolor sit amet, consectetur.</p>
									
								</div>
								<div class="col_date">
										<div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
										<div class="readmore"><a href="blog_comment.html">Read more</a></div>
								</div>
							</div>
							
							<div class="col">
								<div class="col_image"><a href="blog_comment.html"><img src="/static/gtpxz/images/blog/image2.jpg" alt="image1" /></a></div>
								<div class="col_description">
									<h3>Video Post Format Vimeo The Rocketeer</h3>
									<p>Lorem ipsum dolor sit amet, consectetur.</p>
									
								</div>
								<div class="col_date">
										<div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
										<div class="readmore"><a href="blog_comment.html">Read more</a></div>
								</div>
							</div>
							
							<div class="clear"></div>
							
						</li>
						
						<li>
					
														<div class="col">
								<div class="col_image"><a href="blog_comment.html"><img src="/static/gtpxz/images/blog/image3.jpg" alt="image1" /></a></div>
								<div class="col_description">
									<h3>Image Post Format Still<br />Looking For Him</h3>
									<p>Lorem ipsum dolor sit amet, consectetur.</p>
									
								</div>
								<div class="col_date">
										<div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
										<div class="readmore"><a href="blog_comment.html">Read more</a></div>
								</div>
							</div>
							
							<div class="col even">
								<div class="col_image"><a href="blog_comment.html"></a></div>
								<div class="col_description">
									<h3>Image Post Format Still<br />Looking For Him</h3>
									<p>Lorem ipsum dolor sit amet, consectetur.</p>
									
								</div>
								<div class="col_date">
										<div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
										<div class="readmore"><a href="blog_comment.html">Read more</a></div>
								</div>
							</div>
							
							<div class="col">
								<div class="col_image"><a href="blog_comment.html"><img src="/static/gtpxz/images/blog/image4.jpg" alt="image1" /></a></div>
								<div class="col_description">
									<h3>Image Post Format Still<br />Looking For Him</h3>
									<p>Lorem ipsum dolor sit amet, consectetur.</p>
									
								</div>
								<div class="col_date">
										<div class="date"><img class="date" src="/static/gtpxz/images/template/icons/icon_date.png" alt="date" />June 13, 2012</div>
										<div class="readmore"><a href="blog_comment.html">Read more</a></div>
								</div>
							</div>
							
							<div class="clear"></div>
							
						</li>						
					
					</ul>
				</div>
				
				<h2>Recent work</h2>
				<div id="recent_work">
					<div class="col">
						<div class="col_image"><a href="showcase_case.html"><a href="showcase_case.html"><img src="/static/gtpxz/images/portfolio/image1.jpg" alt="image1" /></a></a></div>
						<div class="col_description">
							<h3><a href="showcase_case.html">All the Signs</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur.</p>
						</div>	
					</div>
					
					<div class="col even">
						<div class="col_image"><a href="showcase_case.html"><a href="showcase_case.html"><img src="/static/gtpxz/images/portfolio/image2.jpg" alt="image1" /></a></a></div>
						<div class="col_description">
							<h3><a href="showcase_case.html">Hellboy</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur.</p>
						</div>	
					</div>
					
					<div class="clear"></div>
				</div>
				
				<hr class="spacer" />
				
				<div id="comments">
					<div class="col">
						<h2>Popular comments</h2>
						<div class="comment">
							<div class="comment_image"><img src="/static/gtpxz/images/avatar/avatar1.jpg" alt="avatar" /></div>
							<div class="comment_description">
								<p>Image Post Format Still Looking For Him
								Etiam tempor lorem sit amet odio luctus in tempor dui placerat. 
								Suspendisse in sapien sem, dictum volutpat odio.</p> 
								<p><span class="bold">August 22, 2012 By Peter</span></p>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="comment">
							<div class="comment_image"><img src="/static/gtpxz/images/avatar/avatar2.jpg" alt="avatar" /></div>
							<div class="comment_description">
								<p>Image Post Format Still Looking For Him
								Etiam tempor lorem sit amet odio luctus in tempor dui placerat. 
								Suspendisse in sapien sem, dictum volutpat odio.</p> 
								<p><span class="bold">August 22, 2012 By Peter</span></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					
					<div class="col even">
						<h2>Testimonials</h2>
						<div class="comment">
							<div class="comment_image"><img src="/static/gtpxz/images/avatar/avatar3.jpg" alt="avatar" /></div>
							<div class="comment_description">
								<p>Image Post Format Still Looking For Him
								Etiam tempor lorem sit amet odio luctus in tempor dui placerat. 
								Suspendisse in sapien sem, dictum volutpat odio.</p> 
								<p><span class="bold">August 22, 2012 By Peter</span></p>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="comment">
							<div class="comment_image"><img src="/static/gtpxz/images/avatar/avatar4.jpg" alt="avatar" /></div>
							<div class="comment_description">
								<p>Image Post Format Still Looking For Him
								Etiam tempor lorem sit amet odio luctus in tempor dui placerat. 
								Suspendisse in sapien sem, dictum volutpat odio.</p> 
								<p><span class="bold">August 22, 2012 By Peter</span></p>
							</div>
							<div class="clear"></div>
						</div>						
					</div>
				</div>
				
				<div class="clear"></div>
				
			</div>
			
		</div>

	</div>

	
	<div id="footer">
		<div id="inner_footer">
			<div class="col">
				<h4 class="latesttweets">Latest tweets</h4>
				<div id="tweets"></div>
			</div>
			<div class="col even">
				<h4 class="video">Video</h4>
							
			</div>
			<div class="col">
				<h4 class="aboutus">About us</h4>
				<p>Nam id sapien lacus, eu volutpat 
				Suspendisse accumsan posuere 
				pulvinar urabitur quis tincit curabitur interdum mattis ligula ut.</p>
				
				<p>Rn at augue a tortor sagittis tristique. Aenean leo nisi, aliquam vestibulum lacinia vitae, tincidunt ac tellus.</p>
			</div>
			<div class="col last">
				<h4 class="flickr">Flickr</h4>
				<div class="photo top"><a href="#"><img src="/static/gtpxz/images/flickr/image1.jpg" alt="flickr 1" /><div class="overlay_flickr"></div></a></div>
				<div class="photo top even"><a href="#"><img src="/static/gtpxz/images/flickr/image2.jpg" alt="flickr 1" /><div class="overlay_flickr"></div></a></div>
				<div class="photo top"><a href="#"><img src="/static/gtpxz/images/flickr/image3.jpg" alt="flickr 1" /><div class="overlay_flickr"></div></a></div>
				
				<div class="clear"></div>
				
				<div class="photo"><a href="#"><img src="/static/gtpxz/images/flickr/image4.jpg" alt="flickr 1" /><div class="overlay_flickr"></div></a></div>
				<div class="photo even"><a href="#"><img src="/static/gtpxz/images/flickr/image5.jpg" alt="flickr 1" /><div class="overlay_flickr"></div></a></div>
				<div class="photo"><a href="#"><img src="/static/gtpxz/images/flickr/image6.jpg" alt="flickr 1" /><div class="overlay_flickr"></div></a></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="copyright">
		<div id="inner_copyright">
			&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
			<ul>
				<li><a href="#" class="active">home</a></li>
				<li><a href="#">showcase</a></li>
				<li><a href="#">blog</a></li>
				<li><a href="#">others</a></li>
				<li><a href="#">contact</a></li>					
			</ul>				
		</div>
	</div>


	<!--登录注册模块在这里-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
	<!--<script type="text/javascript" src="{% static 'gtpxz/js/jquery2.2.2.min.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'gtpxz/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/common.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/login.js' %}"></script>

	<div>
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;"><div style="display:table; width:100%; height:100%;"><div style="vertical-align:middle; display:table-cell;"><div class="modal-dialog modal-sm" style="width:540px;">
		<div class="modal-content" style="border: none;">
			<div class="col-left"></div>
			<div class="col-right">
				<div class="modal-header">
					<button type="button" id="login_close" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="loginModalLabel" style="font-size: 18px; color:#5ecfba;">登录</h4>
				</div>
				<div class="modal-body">
					<section class="box-login v5-input-txt" id="box-login">
						<form  id="login_form" action="/login/" method="post" autocomplete="off" >
							<ul>
								<li class="form-group"><input class="form-control" id="id_account_l" maxlength="50" name="account_l" placeholder="请输入邮箱账号/手机号" type="text"></li>
								<li class="form-group"><input class="form-control" id="id_password_l" name="password_l" placeholder="请输入密码" type="password"></li>
								{%csrf_token%}
								</br><button id="login_btn" type="submit" class="btn btn-micv5 btn-block globalLogin">登录</button>
								</br>
								<p class="good-tips marginB10"><a id="btnForgetpsw" class="fr">忘记密码？</a>还没有账号？<a target="_blank"  id="btnRegister">立即注册</a></p>

							</ul>
						</form>
						<form id="register_form"  action="/register/" method="post" autocomplete="off" class="hidden">
							<ul>
								<li class="form-group"><input class="form-control" id="re_account_l" maxlength="50" name="account_l" placeholder="请输入邮箱账号/手机号" type="text"></li>
								<li class="form-group"><input class="form-control" id="re_password_l" name="password_l" placeholder="请输入密码" type="password"></li>
                                <li class="form-group"><input class="form-control" id="co_password_l" name="password_l" placeholder="请确认密码" type="password"></li>
								{% csrf_token %}
								<button id="register_btn"  type="submit" class="btn btn-micv5 btn-block globalRegist">注册</button>
								<p>已有账号，返回<a target="_blank" id="conLogin">继续登录</a></p>
							</ul>
						</form>
						</br>

						<div class="login-box marginB10">
							<div id="login-form-tips" class="tips-error bg-danger" style="display: none;">错误提示</div>
						</div>

						<script>
							$(document).ready(function () {

								$('#conLogin').click(function(){
									$('#conLogin').addClass("hidden");
									$('#login_form').removeClass('hidden');
									<!--$('#btnRegister').removeClass("globalLogin");-->
									$('#register_form').addClass('hidden');
								})
								$('#btnRegister').click(function(){
									$('#conLogin').removeClass("hidden");
									$('#login_form').addClass('hidden');
									<!--$('#btnRegister').addClass("globalLogin");-->
									$('#register_form').removeClass('hidden');
								})
							});
						</script>

						<div class="threeLogin"><span>其他方式登录</span><a class="nqq" href="javascript:;"></a><a class="nwx" href="javascript:;"></a><a class="nwb" href="javascript:;"></a></div>

					</section>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.ui.1.8.21.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.twitter.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.anythingslider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.colorbox-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gtpxz/js/jquery.functions.js' %}"></script>

</body>
</html>